<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
 th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
 
 <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />-->
 
 <link rel= "stylesheet" type="text/css"
 th:href= "@{/index.css}"/>

<title>Registration</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
   <div class="navbar-brand">
   	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        	<li class="nav-item">
          	<a class="nav-link active" aria-current="page" href="#">Home</a>
        	</li>
        	<li class="nav-item">
          	<a class="nav-link" href="#">Link</a>
        	</li>
          <li class="nav-item dropdown">
          	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            	Dropdown
          	</a>
          	<ul class="dropdown-menu">
           	 <li sec:authorize="isAuthenticated()"><a class= "dropdown-item" th:href="@{/logout}">Logout</a></li>
           	 <li  sec:authorize="isAuthenticated()"><a class= "dropdown-item" th:href="@{/calendar}">Calendar</a></li>
          	 <li><hr class="dropdown-divider"></li>
           	 <li sec:authorize="hasRole('ROLE_USER')"><a class= "dropdown-item" th:href="@{/myschedule}">My Schedule</a></li>
           	 <li sec:authorize="hasRole('ROLE_ADMIN')"><a id="schedule-builder-click-to-start" class= "dropdown-item" >Schedule Builder</a></li>
         	 </ul>
       	 </li>
      </ul>
   	
   
     
     </div>
     
   </div>
   
  </div>
 </nav>

 <br>
 <br>
 <div class="container-fluid">
  <h2>Web schedule</h2>
  <div class="container-fluid">
  	<div class="col-md-8" id="scheduleDisplay">
  		
  		
  	</div>
  <!--  <h2 sec:authorize="hasRole('ROLE_ADMIN')">Shift Coverage</h2>
  <div sec:authorize="hasRole('ROLE_ADMIN')" class="container-fluid">	
  	<div class="col-md-8" id="coverageDisplay">
  				
  		
  	</div>
  </div>-->
  </div>
  
  <h2 sec:authorize="hasRole('ROLE_ADMIN')" class="schedule-builder-view">Schedule Builder</h2>
  	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container-fluid schedule-builder-container schedule-builder-view">
  	
  		<div th:replace="fragments/admin_schedule_builder_form :: schedule-builder-form"></div>
  		
  		<div sec:authorize="hasRole('ROLE_ADMIN')" class="container-fluid" id="scheduleAndCoverageDisplayID">
  			<div th:replace="fragments/admin_schedule_table :: schedule-table"></div>
  			
  			<div th:replace="fragments/admin_coverage_table :: coverage-table"></div>
  		<!--  <h2 >Schedule</h2>
  		
  		<table sec:authorize="hasRole('ROLE_ADMIN')" class="table table-bordered table-sm" id="scheduleTableID">
  			<thead>
  				<tr>
      				<th scope="col">Schedule</th>
     	 			<th scope="col">Monday</th>
      				<th scope="col">Tuesday</th>
      				<th scope="col">Wednesday</th>
      				<th scope="col">Thursday</th>
     	 			<th scope="col">Friday</th>
      				<th scope="col">Saturday</th>
      				<th scope="col">Sunday</th>
      				<th scope="col">Action</th>
    			</tr>
  			</thead>
  			<tbody id="scheduleTableBodyID">
  		
  			</tbody>
  		</table>-->
  		
  		<!--  <h2>Coverage</h2>
  		
  		<table sec:authorize="hasRole('ROLE_ADMIN')" class="table table-bordered table-sm" id="wholeTableID">
  			<thead>
  				<tr>
      				<th scope="col">Time</th>
     	 			<th scope="col">Monday</th>
      				<th scope="col">Tuesday</th>
      				<th scope="col">Wednesday</th>
      				<th scope="col">Thursday</th>
     	 			<th scope="col">Friday</th>
      				<th scope="col">Saturday</th>
      				<th scope="col">Sunday</th>
    			</tr>
  			</thead>
  			<tbody id="tableToolBodyID">
  		
  			</tbody>
  		</table>-->
  		</div>
  <p>
   Welcome <span sec:authentication="principal.username">User</span>
  </p>
 </div>
</div>
 <script type="text/javascript"
  th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
 <script type="text/javascript"
  th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
  <script type ="text/javascript" 
  th:src= "@{/MyTime.js}"></script>
  <script type ="text/javascript" 
  th:src= "@{/ScheduleDisplayManager.js}"></script>
  <script type ="text/javascript" 
  th:src= "@{/ScheduleEditor.js}"></script>
  <script type ="text/javascript" 
  th:src= "@{/ScheduleBuilder.js}"></script>

</body>
</html>